<div class="flex items-start {{ classes }}">
    <label class="relative flex items-center p-3 rounded-full cursor-pointer"
           for="{{ name }}">
        <input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ name }}-checked" {{ optional ? "" : "required" }} x-validate {{ on_change ? 'x-on:change="' ~ on_change ~ '"' : "" }} class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-accent transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-accent before:opacity-0 before:transition-opacity checked:border-accent checked:bg-accent checked:before:bg-accent hover:before:opacity-10 text-accent focus:ring-accent" />
        <span class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-3.5 w-3.5"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 stroke="currentColor"
                 stroke-width="1">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                </path>
            </svg>
        </span>
    </label>
    <div class="mt-[0.55rem] [&_a]:underline [&_a]:underline-offset-2">
        {% block slot_content %}
            {% if label %}
                <label class="text-sm font-bold cursor-pointer select-none text-accent"
                       for="{{ name }}">
                    {{ label }}
                </label>
            {% endif %}
        {% endblock slot_content %}
        <div id="error-msg-{{ name }}"
             class="error-msg">
            Campo obbligatorio
        </div>
    </div>
</div>
