<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ post.link }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image_url }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.link|domain }}">
<meta property="twitter:url" content="{{ post.link }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image_url }}">

<link rel="icon" href="{{ favicon_url }}" type="image/svg+xml">
