<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% block head %}
    {{ include("parts/head.twig") }}
  {% endblock head %}
  <body {{ attr({ class: [body_class, "antialiased"] }) }}>
    {{ function("wp_body_open") }}

    {% if environment == "development" %}
      {{ include("components/tailwind-debugger.twig") }}
    {% endif %}
    {{ include("components/navigation/navbar.twig") }}
    <main>
      {% block content %}

      {% endblock content %}
    </main>

    {% block footer %}
      {{ include("components/navigation/footer.twig") }}
    {% endblock footer %}

    {{ function("wp_footer") }}
    {% do action("get_footer", null) %}
  </body>
</html>
