<div
  class="bg-norepeat w-full bg-cover bg-[center_top]"
  style="background-image: url('{{
  theme.link
  }}/assets/images/ds-footer-bg.jpg');"
  data-mobile-bg="{{ theme.link }}/assets/images/ms-footer-bg.jpg"
  x-data="{ updateBg() { this.$el.style.backgroundImage = window.innerWidth < 768 ? 'url(' + this.$el.dataset.mobileBg + ')' : 'url({{
  theme.link
  }}/assets/images/ds-footer-bg.jpg)' } }"
  x-init="updateBg()"
  @resize.window.debounce="updateBg()"
>
  <div class="main-container flex flex-col gap-10 py-30">
    {% set social_links = options.social_links %}
    {% set privacy_url = options.privacy_policy_url %}
    {% set cookie_url = options.cookie_policy_url %}
    <div
      class="flex flex-col items-start justify-start lg:flex-row lg:items-center lg:justify-between"
    >
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <a href="/" class="focusable block w-[89px] rounded-sm px-[2px]">
            {% include "views/svgs/logo-ploom.svg" %}
          </a>
          <span class="font-base block leading-[125%] font-light">
            Ploom Italy @ {{ "now"|date("Y") }}
          </span>
        </div>
        {% if social_links %}
          <div class="flex flex-row gap-2">
            {% for item in social_links %}
              <a
                href="{{ item.url }}"
                target="_blank"
                rel="noopener noreferrer"
                class="focusable block h-auto w-6 rounded-sm opacity-100 transition-opacity duration-200 hover:opacity-80"
              >
                {% include "views/icons/brands/" ~ item.icon ~ ".svg" %}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mt-12 flex flex-col flex-wrap gap-12 lg:mt-0 lg:flex-row">
        <div class="flex flex-col gap-4">
          <span class="text-xl font-light">Content</span>
          <a
            href="#flavors"
            data-scroll-to="#flavors"
            class="focusable relative cursor-pointer rounded-sm font-light after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full"
          >
            I nuovi flavors
          </a>
          <a
            href="#experience"
            data-scroll-to="#experience"
            class="focusable relative cursor-pointer rounded-sm font-light after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full"
          >
            Ploom Points
          </a>
        </div>
        <div class="flex flex-col gap-4">
          <span class="text-xl font-light">Privacy</span>
          <a
            href="{{ privacy_url }}"
            class="focusable relative cursor-pointer rounded-sm font-light after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full"
          >
            Privacy Policy
          </a>
          <a
            href="{{ cookie_url }}"
            class="focusable relative cursor-pointer rounded-sm font-light after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full"
          >
            Cookie Policy
          </a>
        </div>
      </div>
    </div>
    <span class="font-base block leading-[125%] font-light">
      Legal line lorem ipsum dolor sit amet consectetur
    </span>
  </div>
</div>
